# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj
*.ipdb
*.ilk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
# *.exe
*.out
*.app

*.ncb
*.suo
*.bsc
*.exp
*.pdb
*.sbr
*.tlog
*.user
*.idb
*.htm

\.vs
\__tmp__
*.bak








